/************** EN TODOS LOS SCREENS (ha no ser que se diga lo contario) **************/
:root {
  --colorWhite: #ffffff;
  --colorBlack: #000000;
  --colorRed: red;
  --fontSize-sm: 16px;
  --fontFamily: "Arial, Helvetica, sans-serif";
  --fontTitle: "Arial";
  --fontBody: "Helvetica";
}
.onlyMobile {
  display: flex;
  justify-content: center;
}
.notMobile {
  display: none;
}
.pegajosoBottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  text-align: center;
  justify-content: space-around;
}

/* Nav Component */

/* SignIn Component */

h1 {
  color: var(--colorRed);
}

/* SignUp Component */

/* ************* HOME View ************* */
/* Start progress circule */
#progressBar {
  display: none;
}
.skill {
  width: 160px;
  height: 160px;
  position: relative;
}

.outer {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  display: flex;
  flex-direction: column;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number {
  font-weight: 600;
  color: #555;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 450;

  animation: anim 2s linear forwards;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

.avatarHomeMobile {
  width: 80px;
  border-radius: 50%;
}

/* Tareas pendientes HOME */
.tasksPendiente {
  display: flex;
}

/* Tareas pendientes Componente */
.taskPendiente {
}
/* Account View */

/* TaskItem */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider (effect is_complete) */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.tasksItem {
  margin-bottom: 25vh;
}

/********************************* TABLETA *********************************/

@media (min-width: 768px) {
  h1 {
    color: blue;
  }
  #progressBar {
    display: flex;
  }
  .onlyMobile {
    display: none;
  }
  .notMobile {
    display: flex;
  }
}

/********************************* PC *********************************/

@media (min-width: 992px) {
  h1 {
    color: green;
  }
}
