/************** EN TODOS LOS SCREENS (ha no ser que se diga lo contario) **************/
:root {
  --colorWhite: #ffffff;
  --colorBlack: #000000;
  --colorRed: red;
  --fontSize-sm: 16px;
  --fontFamily: "Arial, Helvetica, sans-serif";
  --fontTitle: "Arial";
  --fontBody: "Helvetica";
}

#app {
  height: 100vh;
  width: -webkit-fill-available;
}

.onlyMobile {
  display: flex;
  justify-content: center;
}
.notMobile {
  display: none;
}

body {
  background-image: url(./img/backgroundPuzzle.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: -15vh;
}

/* Nav Component */

/* SignIn Component */

/* SignUp Component */

/* ************* HOME View ************* */

.wrapper {
  width: 100vw;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 20rem;
}

/* Start progress circule */
#progressBar {
  display: none;
}
/* .circleProgres {
  margin-top: 12vh;
} */
.skill {
  width: 160px;
  height: 160px;
  position: relative;
}

.outer {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  display: flex;
  flex-direction: column;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number {
  font-weight: 600;
  color: #555;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 450;

  animation: anim 2s linear forwards;
}

svg {
  position: relative;
  top: -10rem;
  left: 0;
}

.avatarHomeMobile {
  width: 80px;
  border-radius: 50%;
}

/* add taks home && taskPendenteActive */
.dentroPuzzle {
  align-items: center;
  flex-direction: row;
  display: flex;
  padding: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 5vh;
  width: -webkit-fill-available;
  justify-content: space-between;
  margin-top: 2rem;
  margin-right: 0.5rem;
}
.tareas {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  height: 25rem;
}
/* Tareas pendientes HOME */
.tasksPendiente {
  display: flex;
  width: 100vw;
  height: 23rem;
  background-image: url(./img/piezaPuzzle.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 5vh;
  align-items: center;
  justify-content: space-between;
}
.tasksPendiente button {
  border: none;
  background: none;
  font-size: xxx-large;
  padding: 2.5rem 1.5rem;
  color: #54aa5e;
  font-weight: 600;
}
.tasksPendiente h3,
h5 {
  color: #f44708;
  font-size: x-large;
  max-width: -webkit-fill-available;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}
.tasksPendiente h3 {
  font-size: xx-large;
}
.tasksPendiente h5 {
  font-size: large;
}

/* Tareas pendientes Componente */
.taskPendiente {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider (effect is_complete) */
.slider {
  /* position: absolute; */
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  /* position: absolute; */
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.addNewTask {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  margin-right: 20vw;
}
.addNewTask > button {
  transition-duration: 0.4s;
  background: none;
  color: #4caf50;
  border: 6px solid #4caf50;
  border-radius: 50%;
  padding: 1vh 6vw;
  font-weight: 700;
}
.addNewTask > button:hover {
  background-color: #4caf50;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.notAddNewTask > button {
  background: none;
  color: white;
  border: 6px solid white;
  border-radius: 50%;
  padding: 1vh 6vw;
  font-weight: 700;
}

.addNewTaskFatherInputs {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 60vw;
  height: 8rem;
  margin-top: -1.5rem;
}
.addNewTaskFatherInputs > input {
  margin: 1vh 1vw;
  color: #f44708;
  font-size: large;
  max-width: -webkit-fill-available;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: 2px solid #4caf50;
  border-radius: 4px;
}

.footer {
  background-image: url(/src/assets/img/backgroundPuzzleFooter.png);
  background-size: 131vw 28vh;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-position-y: -16vh;
  height: 6rem;
}

.footer > a {
  text-decoration: none;
  font-weight: 700;
  font-size: x-large;
}

.footer > button {
  background: none;
  border: none;
}

.footer > button > img {
  width: 20vw;
}

.pegajosoBottom {
  width: 100vw;
  text-align: center;
  justify-content: space-around;
  margin-bottom: -1rem;
}

/* TASKS */
/* Account View */

/* TaskItem */
.tasksItem {
  margin-bottom: 25vh;
  width: 100vw;
}

/********************************* TABLETA *********************************/

@media (min-width: 768px) {
  h1 {
    color: blue;
  }
  #progressBar {
    display: flex;
  }
  .onlyMobile {
    display: none;
  }
  .notMobile {
    display: flex;
  }
  .tasksItem {
    margin-bottom: 0;
  }
}

/********************************* PC *********************************/

@media (min-width: 992px) {
  h1 {
    color: green;
  }
}
