/************** EN TODOS LOS SCREENS (ha no ser que se diga lo contario) **************/
:root {
  --colorWhite: #ffffff;
  --colorBlack: #000000;
  --colorRed: red;
  --fontSize-sm: 16px;
  --fontFamily: "Arial, Helvetica, sans-serif";
  --fontTitle: "Arial";
  --fontBody: "Helvetica";
}

* {
  /* outline: 1px solid red; */
}

p {
  color: blue;
  font-size: larger;
}

#app {
  height: 90vh;
  width: 100vw;
  margin-left: -0.2rem;
}

.onlyMobile {
  display: flex;
  justify-content: center;
}
.notMobile {
  display: none;
}

body {
  background-image: url(./img/backgroundPuzzle.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: -15vh;
}

/* ************* HOME View ************* */

.wrapper {
  width: 100vw;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 20rem;
}

/* Start progress circule */
#progressBar {
  display: none;
}

.circleProgres {
  margin-top: 8vh;
}
.skill {
  width: 160px;
  height: 160px;
  position: relative;
}

.outer {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  display: flex;
  flex-direction: column;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number {
  font-weight: 600;
  color: #555;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 450;
  animation: anim 2s linear forwards;
}

svg {
  position: relative;
  top: -10rem;
  left: 0;
}

.avatarHomeMobile {
  width: 80px;
  border-radius: 50%;
}

/* add taks home && taskPendenteActive */
.dentroPuzzle {
  align-items: center;
  flex-direction: row;
  display: flex;
  padding: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 5vh;
  width: -webkit-fill-available;
  justify-content: space-between;
  margin-right: 0.5rem;
}
.tareas {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  height: 25rem;
}
/* Tareas pendientes HOME */
.tasksPendiente {
  display: flex;
  width: 100vw;
  height: 23rem;
  background-image: url(./img/piezaPuzzle.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 5vh;
  align-items: center;
  justify-content: space-between;
}

.tasksPendiente button {
  border: none;
  background: none;
  font-size: xxx-large;
  padding: 2.5rem 1.5rem;
  color: #54aa5e;
  font-weight: 600;
}
.tasksPendiente h3,
h5 {
  color: #f44708;
  font-size: x-large;
  max-width: -webkit-fill-available;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}
.tasksPendiente h3 {
  font-size: xx-large;
}
.tasksPendiente h5 {
  font-size: large;
}

/* Tareas pendientes Componente */
.taskPendiente {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider (effect is_complete) */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.addNewTask {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  margin-right: 20vw;
}
.addNewTask > button {
  transition-duration: 0.4s;
  background: none;
  color: #4caf50;
  border: 6px solid #4caf50;
  border-radius: 50%;
  padding: 1vh 6vw;
  font-weight: 700;
}
.addNewTask > button:hover {
  background-color: #4caf50;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.notAddNewTask > button {
  background: none;
  color: white;
  border: 6px solid white;
  border-radius: 50%;
  padding: 1vh 6vw;
  font-weight: 700;
}

.addNewTaskFatherInputs {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 60vw;
  height: 8rem;
  margin-top: -1.5rem;
}
.addNewTaskFatherInputs > input {
  margin: 1vh 1vw;
  color: #f44708;
  font-size: large;
  max-width: -webkit-fill-available;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: 2px solid #4caf50;
  border-radius: 4px;
}

.footerMobile {
  background-image: url(/src/assets/img/backgroundPuzzleFooter.png);
  background-size: 131vw 28vh;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-position-y: -16vh;
  height: 6rem;
}

.footerMobile > a {
  text-decoration: none;
  font-weight: 700;
  font-size: x-large;
}

.footerMobile > button {
  background: none;
  border: none;
}

.footerMobile > button > img {
  width: 20vw;
}

.positionBottom {
  width: 100vw;
  text-align: center;
  justify-content: space-around;
  margin-bottom: -6rem;
}

/* Account View */
.tituloProfile {
  margin-top: 8rem;
}

/* TASKS */
/* TaskItem */
.tituloNew {
  margin-top: 8rem;
}
.addTaskAll {
  display: flex;
  width: 100vw;
  min-height: 19rem;
  background-image: url(/src/assets/img/piezaPuzzleVerde.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 1vh;
  align-items: center;
}
.dentroPuzzleAddTaskAll {
  align-items: center;
  flex-direction: column;
  display: flex;
  padding: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 5vh;
  width: -webkit-fill-available;
  margin-top: 4rem;
}

.dentroPuzzleAddTaskAll > input {
  margin: 1vh 1vw;
  color: #f44708;
  font-size: large;
  max-width: -webkit-fill-available;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: 2px solid #4caf50;
  border-radius: 4px;
}

.dentroPuzzleAddTaskAll > button {
  border: none;
  background: none;
  font-size: xxx-large;
  color: #54aa5e;
  font-weight: 600;
  position: relative;
  left: -11rem;
  top: -5rem;
}

.tasksItem {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}

.tasksItem > div {
  margin: 24px auto;
  border-radius: 16px 16px 0 0;
  box-shadow: 0 0 20px rgb(0 0 0 / 10%), 0 0 4px rgb(0 0 0 / 23%);
  overflow: hidden;
  transition: 0.7s;
  text-overflow: ellipsis;
  white-space: break-spaces;
  width: 20rem;
  padding: 0 1rem 1rem;
}

/* trash */
.btn-delete {
  background-color: white;
  width: 60px;
  height: 34px;
  border: 1px solid red;
  border-radius: 34px;
  position: relative;
  display: inline-block;
}
.btn-delete:hover {
  background-color: red;
}
.noVer {
  display: none;
}
.siVer {
  color: red;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 22%;
  font-size: xx-large;
}
.siVer:hover {
  color: white;
}
.btn-edit {
  background-color: white;
  width: 60px;
  height: 34px;
  border: 1px solid green;
  border-radius: 34px;
  position: relative;
  display: inline-block;
}
.btn-edit:hover {
  background-color: green;
}
.edit {
  color: green;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 22%;
  font-size: xx-large;
}
.edit:hover {
  color: white;
}
.btn-save {
  background-color: white;
  width: 60px;
  height: 34px;
  border: 1px solid blue;
  border-radius: 34px;
  position: relative;
  right: -15rem;
  display: inline-block;
}
.btn-save:hover {
  background-color: blue;
}
.siSave {
  color: blue;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 22%;
  font-size: xx-large;
}
.siSave:hover {
  color: white;
}
/* fin trash */

.editProfile {
  transition-duration: 0.4s;
  background: none;
  color: #f0e41d;
  border: 6px solid #f0e41d;
  border-radius: 50%;
  padding: 1vh 6vw;
  font-weight: 700;
  width: 7rem;
  text-align: center;
}

.editProfile:hover {
  background-color: #f0e41d;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.editable {
  display: flex;
  flex-direction: column;
}
.editable input {
  margin: 1vh 1vw;
  color: #f44708;
  font-size: large;
  height: 2rem;
  border: 2px solid #4caf50;
  border-radius: 4px;
}

/* SIGN UP */
.header-description {
  margin-top: 8rem;
}
.from {
  margin-top: 5rem;
}

#button {
  transition-duration: 0.4s;
  background: none;
  color: #f0e41d;
  border: 10px solid #f0e41d;
  border-radius: 50%;
  padding: 1vh 6vw;
  font-weight: 700;
  width: auto;
  text-align: center;
  position: relative;
  left: -1rem;
  top: 6.5rem;
  font-size: xx-large;
}

#button :hover {
  background-color: #f0e41d;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.footerSing {
  background-image: url(/src/assets/img/backgroundPuzzleFooter.png);
  background-size: 131vw 28vh;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-position-y: -11vh;
  height: 9rem;
  width: 100vw;
}
.personalRouter {
  position: relative;
  left: -1rem;
  top: 6.5rem;
}
/********************************* TABLETA *********************************/

@media (min-width: 768px) {
  #progressBar {
    display: flex;
  }
  .onlyMobile {
    display: none;
  }
  .notMobile {
    display: flex;
  }
  .tasksItem {
    margin-bottom: 0;
  }
}

/********************************* PC *********************************/

@media (min-width: 992px) {
  body {
    /* background-image: url(/src/assets/img/backgroundPuzzleFooter.png);
    background-size: 150%;
    background-position-y: -15vh; */
    background: none;
  }
  #app {
    height: 100vh;
    margin-left: 0;
  }

  .sinAlturaPC {
    max-height: 0;
  }

  /* HOME */
  .wrapper {
    justify-content: initial;
  }

  .navPC {
    width: 100vw;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    background-image: url(/src/assets/img/backgroundPuzzleFooter.png);
    background-size: 100%;
    background-position-y: -12vh;
  }

  .navPC > div {
    display: flex;
    align-items: center;
    width: inherit;
    text-align: center;
    justify-content: space-evenly;
    text-shadow: 0.2rem 0.2rem 0.3rem #ccc;
  }

  .navPC a {
    text-decoration: none;
    font-weight: 700;
    font-size: xxx-large;
  }

  .navPC > button {
    background: none;
    border: none;
  }

  progress[value] {
    width: 23rem;
    height: 5rem;
    position: relative;
    top: -2rem;
    left: -25rem;
  }

  #progressBar p {
    font-size: xx-large;
    font-weight: 600;
    text-shadow: 0.2rem 0.1rem 0.3rem #ccc;
    position: relative;
    top: -6.5rem;
    left: -23rem;
    color: black;
  }

  main {
    margin-top: 5rem;
    width: 100vw;
    flex-direction: row;
    justify-content: space-around;
  }
  .addTaskPC {
    display: flex;
    flex-direction: column;
  }
  .addTaskPCTask {
    position: absolute;
    top: 35rem;
    left: 8rem;
  }

  .addTaskPcInputs {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    border-radius: 16px 16px 0 0;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%), 0 0 4px rgb(0 0 0 / 23%);
    min-height: 15rem;
    padding: 0 1rem 1rem;
  }
  .addTaskPcInputs > input {
    margin: 1vh 1vw;
    color: #f44708;
    font-size: large;
    height: 2rem;
    border: 2px solid #4caf50;
    border-radius: 4px;
  }
  .addTaskButton {
    display: flex;
    justify-content: center;
  }

  .addTaskButton > button {
    transition-duration: 0.4s;
    background-color: white;
    color: #4caf50;
    border: 6px solid #4caf50;
    border-radius: 50%;
    padding: 0.5rem 2rem;
  }

  .addTaskButton > button:hover {
    background-color: #4caf50;
    color: white;
  }

  .tareas {
    align-items: center;
    width: 35rem;
  }
  .tareas > h2 {
    text-align: center;
    width: 23rem;
    margin-top: 1rem;
    margin-bottom: 0.4rem;
    font-size: xx-large;
  }

  .tasksPendiente {
    background-image: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: inherit;
    max-width: 35rem;
  }

  .taskPendiente > h3,
  .taskPendiente > h5 {
    max-width: 23rem;
    max-height: 3rem;
  }
  .taskPendiente > h5 {
    white-space: break-spaces;
    max-height: 9rem;
  }
  .tasksPendiente > div {
    border-radius: 16px 16px 0 0;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%), 0 0 4px rgb(0 0 0 / 23%);
    overflow: hidden;
    transition: 0.7s;
    text-overflow: ellipsis;
    white-space: break-spaces;
    min-height: 15rem;
    padding: 0 1rem 1rem;
  }
  .dentroPuzzle {
    margin: 0.5rem 0;
    max-width: 35rem;
  }

  /* TACKS GENERAL */
  .tituloNew {
    display: none;
  }
  .tasksItem {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .addTaskPcInputsTaks {
    position: fixed;
    left: 8rem;
    top: 17rem;
  }
  .tasksItemTask {
    position: absolute;
    top: 17rem;
    right: 1rem;
    width: 65vw;
  }

  /* Profile */
  .tituloProfile {
    margin-top: 0;
    position: absolute;
    left: 3rem;
    top: 15rem;
    font-size: xxx-large;
  }
  .profilePicture {
    position: absolute;
    left: 3rem;
    top: 20rem;
    width: 15rem;
  }
  .editProfile {
    position: absolute;
    left: 5rem;
    top: 35rem;
    font-size: xx-large;
    width: 14rem;
  }

  .editablePerfil {
    position: absolute;
    top: 23rem;
    left: 19rem;
  }

  /* TIC TAC TOC */
  .headerTicTacToe {
    position: absolute;
    top: 10rem;
    left: 52rem;
  }
  .table {
    width: 35vw;
    height: 50vh;
    position: absolute;
    top: 15rem;
    left: 45rem;
  }

  td {
    width: 25%;
    height: 25%;
    border: 5px solid black;
    text-align: center;
    font-size: xxx-large;
    color: #49166e;
  }

  hr {
    width: 45%;
    margin: auto;
    left: 27%;
    top: 50%;
    position: absolute;
    border: 1px solid black;
  }

  #button_id {
    position: absolute;
    top: 40rem;
    left: 45rem;
    width: 28rem;
    height: 8%;
    font-size: x-large;
    color: #49166e;
    transition-duration: 0.4s;
    background: none;
    color: #49166e;
    border: 6px solid #49166e;
    border-radius: 50%;
    text-align: center;
  }

  #button_id:hover {
    background-color: #49166e;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  .CAlert {
    width: 21rem;
    position: absolute;
    left: 22rem;
    top: 20rem;
    text-align: justify;
  }
  .CAlertEmpate {
    width: 25rem;
    position: absolute;
    left: 19rem;
    top: 20rem;
    text-align: justify;
  }

  /* Sign */
  .addTaskAll {
    background: none;
    min-height: initial;
  }

  .from {
    margin: 0;
  }
}
